footer {
    padding-bottom: 10px;

    align-items: flex-start !important;
    justify-content: space-evenly !important;
    gap: 10px;

    background-image: linear-gradient(to bottom right, var(--element-bg-gradient-top), var(--element-bg-gradient-bottom));
    border: 1px solid var(--element-border);

    font-family: 'Orbitron', 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
    text-shadow: 1px 1px 3px black;
}
footer div {
    min-width: 200px;
    width: 15%;
    text-align: left;
}
footer div p { text-align: center;}
li a {
    font-family: 'Roboto', sans-serif;
    color: white;
    transition: 0.3s;
    text-transform: uppercase;
}
li a:hover { 
color: var(--button-border-hover);
text-shadow: 0 0 1px var(--button-border-hover); 
}
footer div ul { margin: auto; }