header {
    height: 420px;
    background-image: url(../Grafika/logos/banner.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header h1 {   
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
    font-size: 128px;
    color: white;
    text-shadow: 8px 8px 4px black;
    text-transform: uppercase;
}
@media (max-width: 790px) {
    header {
        height: 180px;
    }
    header h1 {
        font-size: 48px;
    }
}