main > div {
    width: 30%;
}
div > h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
}
.offer-tech {
    width: fit-content;
    padding: 10px;
    column-gap: 30px;
}