.product {
    width: 90%;
    align-items: flex-start;
}
.product div {
    padding: 10px;
    box-sizing: border-box;
}
.product-image {
    width: 70%;
    border-right: 3px solid var(--element-border);
}
.product-image div {
    max-height: 400px;
    height: auto;
}
.product-image img {
    max-width: 100%;
    max-height: 400px;
    height: auto;
    width: auto;
}
.product-purchase {
    width: 30%;
}
@media (max-width: 900px) {
    .product-image {
        width: 90%;
        border: 0;
        border-bottom: 3px solid var(--element-border);
    }
    .product-purchase {width: 90%}
}